.container {
  background: url("../images/bgLight.037b8aed.svg");
  background-size: cover;
}
.page {
  width: 80%;
  max-width: 1100px;
  height: calc(100vh - 40px);
  margin: auto;
  padding: 20px 0;
}
.logo {
  width: 160px;
  height: 40px;
}
.page .form {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5%;
  margin-top: 10%;
}
.form .label {
  font-weight: 500;
  text-align: right;
}
.label>div{
   padding: 4% 0;
}
.label-title {
  font-size: 300%;
}
.form .input {
  background-color: var(--primaryBg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  padding: 10%;
}
.form input {
  border: none;
  background-color: var(--quaternaryBg);
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid var(--primaryClr);
  outline: none;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 160%;
  padding: 3%;
}
.pro {
  padding: 3%;
}


#marital .input ,#gender .input {
   border: 1px solid rebeccapurple;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
   grid-gap: 10%;
   height: 50%;
   padding-top: 4%;
   
 }
 
 #marital .one:hover ,#gender .one:hover{
  
   background-color: var(--primaryClr) ;
 }