/* pre login  */
/*------------------------------------------ section 1 ---------------------------------------- */
.hero-p1 {
  padding: 2%;
  margin: 2em auto;
}
.p1-options {
  display: flex;
  flex-direction: column;
}
.para {
  font-size: 14px;
  color: var(--text);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.3px;
  margin: 5%;
}
.sub-text {
  color: var(--subText);
  width: 22vw;
  font-weight: 400;
  padding-bottom: 5%;
}
.p1-right,
.line-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animation-2 1s ease;
}
.p1-right {
  flex-direction: column;
}
.p1-card {
  width: 145px;
  height: 110px;
  background: var(--primaryBg);
  box-shadow: 2px 4px 17px var(--boxShadow);
  border-radius: 15px;
  margin-top: 30px;
  padding: 17px;
}
.p1-card a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-top: 20px;
}
.text-animation h1 {
  padding: 0;
  text-align: center;
  margin: auto;
}
.text-animation {
  z-index: -1;
}
.green {
  margin: 1em 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18px;
  color: var(--primaryClr);
  cursor: pointer;
}
.google {
  width: 70vw;
  margin: auto;
  background-color: var(--primaryBg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1em;
  color: var(--text);
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 15px;
}
small {
  font-size: 11px;
}
small a {
  color: var(--text);
}
.google img {
  width: 20px;
  padding-right: 10px;
}
#animate-text {
  margin-top: -8px;
  height: 60px;
  overflow: hidden;
  z-index: 11;
  display: inline-block;
  color: var(--primaryClr);
}
#animate-text p:first-child {
  animation: animation-1 5s linear reverse infinite;
}
@keyframes animation-1 {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: -380px;
  }
}

@keyframes animation-2 {
  0% {
    margin-top: 20%;
  }
  100% {
    margin-top: 0;
  }
}

/*------------------------------------ media-query section 1 -------------------------------------------- */
@media screen and (min-width: 480px) {
  .p1-card a {
    font-size: 18px;
  }
  .p1-options {
    flex-direction: row;
    justify-content: space-around;
  }
  .text-animation h1 {
    text-align: left;
    font-size: 38px;
  }
  .p1-left {
    margin-top: 8em;
  }
  .p1-card {
    width: 165px;
    height: 125px;
    background: var(--primaryBg);
    box-shadow: 3px 6px 24px var(--boxShadow);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 20px;
  }
  #animate-text p:nth-child(1),
  #animate-text p:nth-child(6) {
    color: var(--secondaryClr);
  }
  #animate-text p:nth-child(2) {
    color: var(--growwRed);
  }
  #animate-text p:nth-child(3) {
    color: var(--constantGrowwYellow150);
  }
  #animate-text p:nth-child(4) {
    color: var(--growwYellow);
  }
}

/*------------------------------------ section 2----------------------------------------------- */

.p2-title1 {
  background: var(--subText70);
  color: var(--text);
  letter-spacing: 0.3px;
  border: none;
  width: fit-content;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 500;
  margin: auto;
  margin-top: 10vh;
}

.p2-title2 {
  color: var(--text);
  letter-spacing: 0.2px;
  font-weight: 500;
}
.options {
  position: relative;
}
#tab-bar {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: var(--primaryClr);
  will-change: left, width;
  transition: left 0.2s linear, width 0.2s linear;
}
#p2-options-list {
  position: absolute;
  top: 33vh;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
#p2-options-list::-webkit-scrollbar {
  display: none;
}
#p2-options-list li {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#p2-options-list li p {
  width: 100px;
}
.p2-options-content {
  z-index: -1;
}
.p2-options-content img {
  width: 100%;
}
.lower {
  margin-top: 10vh;
  text-align: center;
  font-size: 1.2em;
}
.lower-title-1 {
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 30px;
  line-height: 94px;
}
.lower-title-1 span {
  font-weight: 500;
  font-size: 20px;
}
.lower .btn-primary {
  margin-top: 5vh;
}
.lower-para {
  font-size: 14px;
  line-height: 26px;
  color: var(--subText);
  margin: 0 15px;
  min-height: 80px;
}
.lower-green-btn {
  font-weight: 700;
  margin-top: 40px;
}
/*------------------------------------ media-query section 2 -------------------------------------------- */
@media screen and (min-width: 480px) {
  .p2-title1 {
    margin: 0;
  }
  #p2-options-list li {
    width: 16%;
  }
  #p2-options-list li p {
    width: 100px;
  }
  .p2-title2 {
    font-size: 36px;
    text-align: left;
  }
  #p2-options-list img {
    color: var(--text);
  }
  #p2-options-list:hover img,
  #p2-options-list:active img {
    color: initial;
  }
  #p2-options-list {
    position: initial;
  }
  .p2-options-content > div {
    margin-top: 100px;
    display: flex;
    align-items: center;
  }
  .lower {
    text-align: left;
    margin-left: 90px;
  }
  .lower-para {
    font-family: 700;
    margin: 0;
  }
  .lower .btn-primary {
    padding: 3% 4%;
    font-size: 0.8em;
  }
  .p2-options-content img {
    width: 562px;
    height: 355px;
    margin: auto;
  }
  .lower-title-1 {
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 80px;
    line-height: 94px;
    margin-top: -35px;
  }
  .lower-title-1 span {
    font-size: 2rem;
  }
}

/* section -03 swapnil code */


.banner_1 {
  height: 600px;
  width: 100%;
  border: 1px solid rgb(253, 252, 255);
  background-color: #5367ff;

  background-image: url("https://assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/shield-groww.0d0cc15e.png");
}
.banner_1 > div {
  width: 600px;
  margin-top: 300px;
  margin-left: 100px;
}
.user_info {
  font-size: 70px;
  text-transform: capitalize;
  font-weight: 900;

  color: #ffffff;
  margin-bottom: 1px;
  /* font-family: sans-serif; */
}
.motto {
  margin-top: 0;

  color: #ffffff;
  font-size: 20px;
  /* font-weight: bold; */
  text-shadow: none;
  font-family: "roboto", sans-serif;
}
.tagline_1 {
  text-align: center;
}
.tagline_1 > p {
  font-size: 35px;
  font-weight: bold;
  font-family: sans-serif;
  color: #44475b;
}
.info_img_1 {
  width: 85%;
  margin: auto;

  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.info_img_1 > div:hover {
  cursor: pointer;
}
.img_info:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
.img_info {
  width: 340px;
  height: 300px;
}
.img_infotext {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: #44475b;
  text-transform: capitalize;
  text-align: center;
}
.button_article {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.button_article_btn {
  color: #00d09c;
  background-color: white;
  border: none;
}
.button_article_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
#button_article_btn_icon {
  color: #00d09c;
  margin-top: 20px;
}
.inthe_press {
  margin-top: 60px;
  /* height: 300px; */
  text-align: center;
  /* border:  1px solid rebeccapurple; */
}
.inthe_press_text {
  color: #44475b;

  font-family: "robot", sans-serif;
}
.press_logo {
  display: flex;

  width: 85%;
  color: #44475b;
  margin: auto;
  /* border:  1px solid rebeccapurple; */
  justify-content: space-evenly;
}
.press_logo > img:hover {
  cursor: pointer;
}
.invester_div {
  width: 100%;
  /* height: 600px; */
  /* border: 1px solid red; */
  margin-top: 40px;
  background-color: #f6f6f7;
}
.invester_nav {
  width: 85%;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
}

.invester_text_h1 {
  color: #44475b;
  border: 0;
  font-family: "robot", sans-serif;
  margin-top: 50px;
  margin-bottom: 5px;
}
.invester_nav > div > p {
  border: 0;
  font-family: "robot", sans-serif;
  font-size: 20px;
  color: #00d09c;
  margin: 0;
}
.invester_btn {
  display: flex;
  margin-top: 65px;
}
.invester_btn_btn {
  border: none;
  color: #00d09c;
  background-color: #f6f6f7;
  margin: 0;
  border: 0;
}
.invester_btn_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
#invester_btn_icon {
  color: #00d09c;
  margin-top: 20px;
}
.investor_img {
  width: 80%;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 30px;
}
.investor_info_card {
  width: 33%;
  height: 400px;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-color: #ffffff;
}
.investor_info_card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
}
.logo_text {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}
.card_text_bolck {
  width: 300px;
  margin: auto;
}
.logo_image {
  width: 55px;
  border-radius: 50%;
}
#logo_icon1 {
  margin-top: 15px;
  margin-left: 8px;
}
#logo_icon2 {
  margin-top: 15px;
  margin-left: 30px;
}
.card_text {
  margin-top: 20px;
  font-size: 20px;
  font-family: "roboto", sans-serif;
}
.card_text_h5 {
  margin-top: 60px;
  color: #446a9b;
  margin-left: 10px;
  margin-bottom: 2px;
  font-family: "roboto", sans-serif;
}
.card_text_h3 {
  margin-left: 10px;
  margin-top: 0;
  color: #00d09c;
  font-family: "roboto", sans-serif;
}

.last_main_div {
  width: 100%;
  margin-top: 80px;
  /* height: 1000px; */
  background-color: #f6f6f7;
}
.last_main_div_first {
  display: flex;
  width: 90%;
  gap: 20px;
  margin: auto;
  /* height: 500px; */
  margin-top: 40px;
}
.last_main_div_mini1 {
  flex: 4;
  margin-top: 210px;
}

.last_in h1 {
  color: #44475b;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "roboto", sans-serif;
}
.last_in p {
  color: #00d09c;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 10px;
  font-family: "roboto", sans-serif;
}
.last_out {
  margin-top: 50px;
}

.last_out_one,
.last_out_two {
  display: flex;
}
.assets_netst,
.assets_netst_two {
  margin-top: 50px;
  /* border: 1px solid red; */
}
.assets_text {
  margin-left: 50px;
}
.assets_text h1 {
  color: #44475b;
  font-size: 20px;
  font-family: "roboto", sans-serif;
}
.assets_text p {
  color: #00d09c;
  font-family: "roboto", sans-serif;
}

.last_main_div_mini2 {
  width: 100%;
  flex: 6;
  margin-left: 50px;
  display: flex;
}
.last_image_one {
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
}
.last_image_two:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.last_image_one:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.last_image_two {
  width: 250px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 230px;
}
.last_main_div_second {
  display: flex;
  width: 80%;
  gap: 20px;

  border-radius: 20px;
  background-color: #00d09c;
  margin: auto;
  margin-top: 40px;
}
.last_best_img {
  width: 250px;
  height: 300px;
  margin-left: 100px;
}
.last_best_textone {
  margin-left: 70px;
}
.last_best_textone h1 {
  color: white;
  margin-bottom: 40px;
  font-family: "roboto", sans-serif;
}
.last_best_textone p {
  color: white;
  font-size: 16px;
  font-family: "roboto", sans-serif;
}
.last_best_textone button {
  margin-top: 50px;
  width: 170px;
  height: 50px;
  border: none;
  font-size: large;
  color: #00d09c;
}
.last_best_textone button:hover {
  cursor: pointer;
}

/* mediaquery start */

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .tagline_1 {
    text-align: center;
  }
  .tagline_1 > p {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #44475b;
    text-align: center;
    width: 300px;
    margin-left: 20px;
    /* border: 1px solid rebeccapurple; */
  }

  .info_img_1 {
    flex-direction: column;
    margin: auto;
    width: 300px;
    margin-left: 20px;
  }
  .img_info {
    width: 300px;
    height: 200px;
  }
  .img_infotext {
    font-size: 15px;
    text-align: center;
  }
  .button_article {
    /* border: 1px solid red; */
    width: 300px;
    margin-left: 20px;
  }

  .button_article_btn {
    font-size: 10px;
    color: #007bff;
    margin-top: 6px;
    background-color: white;
  }
  .button_article_btn_icon {
    color: #007bff;
    margin-top: 30px;
    font-weight: bold;
  }
  .inthe_press {
    width: 300px;
    height: 600px;
  }

  .inthe_logo {
    flex-direction: column;
  }
  .invester_text_h1 {
    font-size: 20px;
  }
  .invester_nav > div > p {
    font-size: 15px;
  }
  .invester_btn {
    display: none;
  }
  .investor_img {
    flex-direction: column;
  }
  .logo_image {
    width: 100px;
    margin: auto;
  }
  #logo_icon1,
  #logo_icon2 {
    display: none;
  }
  .investor_info_card,
  .card_text_bolck {
    width: 80%;
    margin: auto;
  }
  .card_text_h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  .card_text_h3 {
    font-size: 10px;
  }
  .last_main_div_first {
    flex-direction: column;
  }
  .last_main_div_mini2,
  .last_main_div_second {
    flex-direction: column;
  }
  .last_image_two {
    margin-top: 20px;
    margin-left: 0;
  }
  .last_best_img {
    width: 300px;
    margin-left: 0;
  }
}