
/*------------------------------------------ section 1 ---------------------------------------- */
.p1-options {
  display: flex;
  flex-direction: column;
}
.para {
  font-size: 14px;
  color: var(--text);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.3px;
  margin: 5%;
}
.sub-text {
  color: var(--subText);
  width: 22vw;
  font-weight: 400;
  padding-bottom: 5%;
}
.p1-right,
.line-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animation-2 1s ease;
}
.p1-right {
  flex-direction: column;
}
.p1-card {
  width: 145px;
  height: 110px;
  background: var(--primaryBg);
  box-shadow: 2px 4px 17px var(--boxShadow);
  border-radius: 15px;
  margin-top: 30px;
  padding: 17px;
}
.p1-card a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-top: 20px;
}
.text-animation h1 {
  padding: 0;
  text-align: center;
  margin: auto;
}
.text-animation {
  z-index: -1;
}
.green {
  margin: 1em 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18px;
  color: var(--primaryClr);
  cursor: pointer;
}
.google {
  width: 70vw;
  margin: auto;
  background-color: var(--primaryBg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1em;
  color: var(--text);
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 15px;
}
small {
  font-size: 11px;
}
small a {
  color: var(--text);
}
.google img {
  width: 20px;
  padding-right: 10px;
}
#animate-text {
  margin-top: -8px;
  height: 60px;
  overflow: hidden;
  z-index: 11;
  display: inline-block;
  color: var(--primaryClr);
}
#animate-text p:first-child {
  animation: animation-1 5s linear reverse infinite;
}
@keyframes animation-1 {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: -380px;
  }
}

@keyframes animation-2 {
  0% {
    margin-top: 20%;
  }
  100% {
    margin-top: 0;
  }
}

/*------------------------------------ media-query section 1 -------------------------------------------- */
@media screen and (min-width: 480px) {
  #main {
    padding: 2%;
    margin: 10vw;
  }
  .p1-card a {
    font-size: 18px;
  }
  .p1-options {
    flex-direction: row;
    justify-content: space-around;
  }
  .text-animation h1 {
    text-align: left;
    font-size: 38px;
  }
  .p1-left {
    margin-top: 8em;
  }
  .p1-card {
    width: 165px;
    height: 125px;
    background: var(--primaryBg);
    box-shadow: 3px 6px 24px var(--boxShadow);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 20px;
  }
  #animate-text p:nth-child(1),
  #animate-text p:nth-child(6) {
    color: var(--secondaryClr);
  }
  #animate-text p:nth-child(2) {
    color: var(--growwRed);
  }
  #animate-text p:nth-child(3) {
    color: var(--constantGrowwYellow150);
  }
  #animate-text p:nth-child(4) {
    color: var(--growwYellow);
  }
}

/*------------------------------------ section 2----------------------------------------------- */

.p2-title1 {
  background: var(--subText70);
  color: var(--text);
  letter-spacing: 0.3px;
  border: none;
  width: fit-content;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: 500;
  margin: auto;
  margin-top: 10vh;
}

.p2-title2 {
  color: var(--text);
  letter-spacing: 0.2px;
  font-weight: 500;
}
.p2-options {
  position: relative;
}
#tab-bar {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: var(--primaryClr);
  will-change: left, width;
  transition: left 0.2s linear, width 0.2s linear;
}
#p2-options-list {
  position: absolute;
  top: 33vh;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
#p2-options-list::-webkit-scrollbar{
  display: none;
}
#p2-options-list li {
  width: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#p2-options-list li p{
  width: 100px;
}
.p2-options-content {
  z-index: -1;
}
.p2-options-content img {
  width: 100%;
}
.lower {
  margin-top: 10vh;
  text-align: center;
  font-size: 1.2em;
}
.lower-title-1 {
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 30px;
  line-height: 94px;
}
.lower-title-1 span {
  font-weight: 500;
  font-size: 20px;
}
.lower .btn-primary{
  margin-top: 5vh;
}
.lower-para {
  font-size: 14px;
  line-height: 26px;
  color: var(--subText);
  margin: 0 15px;
  min-height: 80px;
}
.lower-green-btn {
  font-weight: 700;
  margin-top: 40px;
}
/*------------------------------------ media-query section 2 -------------------------------------------- */
@media screen and (min-width: 480px) {
  .p2-title1{
    margin: 0;
  }
  #p2-options-list li{
    width: 16%;
  }
  #p2-options-list li p{
    width: 100px;
  }
  .p2-title2{
  font-size: 36px;
  text-align: left;
  }
  #p2-options-list img {
    color: var(--text);
  }
  #p2-options-list:hover img,
  #p2-options-list:active img {
    color: initial;
  }
  #p2-options-list {
    position: static;
  }
  .p2-options-content > div {
    margin-top: 100px;
    display: flex;
    align-items: center;
  }
  .lower {
    text-align: left;
    margin-left: 90px;
  }
  .lower-para {
    font-family: 700;
    margin: 0;
  }
  .lower .btn-primary {
    padding: 3% 4%;
    font-size: 0.8em;
  }
  .p2-options-content img {
    width: 562px;
    height: 355px;
    margin: auto;
  }
  .lower-title-1 {
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 80px;
    line-height: 94px;
    margin-top: -35px;
  }
  .lower-title-1 span {
    font-size: 2rem;
  }
}
