/*------------------------------------------ section 1 ---------------------------------------- */

.hero-p1 {
  padding: 2%;
  margin: 2em auto;
}
.p1-options{
  display: flex;
  flex-direction: column;
}
.para {
  font-size: 14px;
  color: var(--text);
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.3px;
  margin: 5%;
}
.sub-text {
  color: var(--subText);
  width: 22vw;
  font-weight: 400;
  padding-bottom: 5%;
}
.p1-right,
.line-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animation-2 1s ease;
}
.p1-right {
  flex-direction: column;
}
.p1-card {
  width: 145px;
  height: 110px;
  background: var(--primaryBg);
  box-shadow: 2px 4px 17px var(--boxShadow);
  border-radius: 15px;
  margin-top: 30px;
  padding: 17px;
}
.p1-card a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-top: 20px;
}
.text-animation h1 {
  padding: 0;
}
.text-animation {
  z-index: -1;
}
.green {
  margin: 1em 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.18px;
  color: var(--primaryClr);
  cursor: pointer;
}
.google {
  width: 70vw;
  margin: auto;
  background-color: var(--primaryBg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1em;
  color: var(--text);
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 15px;
}
small {
  font-size: 11px;
}
small a{
  color: var(--text);
}
.google img {
  width: 20px;
  padding-right: 10px;
}
#animate-text {
  margin-top: -8px;
  height: 60px;
  overflow: hidden;
  z-index: 11;
  display: inline-block;
  color: var(--primaryClr);
}
#animate-text p:first-child {
  animation: animation-1 5s linear reverse infinite;
}
@keyframes animation-1 {
  0% {
    margin-top: 40px;
  }
  100% {
    margin-top: -380px;
  }
}

@keyframes animation-2 {
  0% {
    margin-top: 20%;
  }
  100% {
    margin-top: 0;
  }
}

/*------------------------------------ media-query section 1 -------------------------------------------- */
@media screen and (min-width: 480px) {
  .p1-card a {
    font-size: 18px;
  }
  .p1-options {
    flex-direction: row;
    justify-content: space-around;
  }
  .text-animation h1{
    text-align: left;
    font-size: 38px;
  }
  .p1-left{
    margin-top: 8em;
  }
  .p1-card{
    width: 165px;
    height: 125px;
    background: var(--primaryBg);
    box-shadow: 3px 6px 24px var(--boxShadow);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 20px;
  }
  #animate-text p:nth-child(1),
  #animate-text p:nth-child(6) {
    color: var(--secondaryClr);
  }
  #animate-text p:nth-child(2){
    color: var(--growwRed);
  }
  #animate-text p:nth-child(3){
    color: var(--constantGrowwYellow150);
  }
  #animate-text p:nth-child(4){
    color: var(--growwYellow);
  }
}

/*------------------------------------ section 2----------------------------------------------- */
.p2-options{
  position: relative;
}
#p2-options-list{
  position: absolute;
  top: 33vh;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#p2-options-list li{
  width: 33%;
  display: flex;
  align-items: center;
}
.p2-options-content{
  z-index: -1;
}
.p2-options-content img{
  width: 100%;
}

/*------------------------------------ media-query section 2 -------------------------------------------- */
@media screen and (min-width: 480px) {
  #p2-options-list img{
    color: var(--text);
  }
  #p2-options-list:hover img, #p2-options-list:active img{
    color: initial;
  }
}